<div class="wrapper">
    <div class="page-header page-header-small" filter-color="">
        <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('assets/img/back.jpg') ;">
        </div>
        <div class="container">
            <div class="content-center">
                <div class="photo-container" style="margin-top: 81%" >
                    <img src="assets/img/stefan-slika.png" class="rounded-circle img-raised" alt="" style="width:31%">
                </div>
                <!-- <h3 style="color:black"class="title">Stefan Velkoski</h3> -->

            </div>
        </div>
    </div>
    <div class="section " >
        <div class="container" style="margin-top: 10%;">
          <h3 class="title">About me</h3>
          <h5 class="description">Software engineering student with enthusiastic stand on the growth of blockchain technologies.
              Working as a freelance web developer since 2017 on various projects, small projects(websites), as a part of bigger projects in the field of centralized
              cryptocurrency exchanges and wallets and payroll systems.  As a member of the development teams  on the projects I have worked on,
              I have  great team relations, on time delivery of tasks, dedication and trust on the impact that those projects make in the community.</h5>
            <div class="row">
                <div class="col-md-12">
                    <h4 class="title text-center">My Portfolio</h4>
                      <ngb-tabset [justify]="'center'" type="pills" class="nav nav-pills nav-pills-primary  nav-pills-just-icons justify-content-center tab-space">
                          <ngb-tab>
                            <ng-template ngbTabTitle>
                              <i class="now-ui-icons design_image"></i>
                            </ng-template>
                              <ng-template ngbTabContent>
                                <div class="row">
                                  <div class="col-md-10 ml-auto mr-auto">
                                      <div class="row collections">
                                          <div class="col-md-6">
                                              <img src="assets/img/bg1.jpg" alt="" class="img-raised">
                                              <img src="assets/img/bg3.jpg" alt="" class="img-raised">
                                          </div>
                                          <div class="col-md-6">
                                              <img src="assets/img/bg8.jpg" alt="" class="img-raised">
                                              <img src="assets/img/bg7.jpg" alt="" class="img-raised">
                                          </div>
                                      </div>
                                  </div>
                                </div>
                              </ng-template>
                          </ngb-tab>
                          <ngb-tab>
                            <ng-template ngbTabTitle>
                              <i class="now-ui-icons location_world"></i>
                            </ng-template>
                              <ng-template ngbTabContent>
                                <div class="row">
                                  <div class="col-md-10 ml-auto mr-auto">
                                      <div class="row collections">
                                          <div class="col-md-6">
                                              <img src="assets/img/bg6.jpg" class="img-raised">
                                              <img src="assets/img/bg11.jpg" alt="" class="img-raised">
                                          </div>
                                          <div class="col-md-6">
                                              <img src="assets/img/bg7.jpg" alt="" class="img-raised">
                                              <img src="assets/img/bg8.jpg" alt="" class="img-raised">
                                          </div>
                                      </div>
                                  </div>
                                </div>
                              </ng-template>
                          </ngb-tab>
                          <ngb-tab>
                            <ng-template ngbTabTitle>
                              <i class="now-ui-icons sport_user-run"></i>
                            </ng-template>
                              <ng-template ngbTabContent>
                                <div class="row">
                                  <div class="col-md-10 ml-auto mr-auto">
                                      <div class="row collections">
                                          <div class="col-md-6">
                                              <img src="assets/img/bg3.jpg" alt="" class="img-raised">
                                              <img src="assets/img/bg8.jpg" alt="" class="img-raised">
                                          </div>
                                          <div class="col-md-6">
                                              <img src="assets/img/bg7.jpg" alt="" class="img-raised">
                                              <img src="assets/img/bg6.jpg" class="img-raised">
                                          </div>
                                      </div>
                                  </div>
                                </div>
                              </ng-template>
                          </ngb-tab>
                      </ngb-tabset>
                </div>
            </div>
        </div>
    </div>

  <div class="main">
      <div class="section" >
          <div class="container">
            <h2 class="title" style="text-align: center;">Education</h2>

              <div class="row">

             <div class="col-lg-6 col-md-12" style="text-align: center;">
                    <div class="card" style="max-width: 550px; max-height: 320px;">
                        <div class="card-header">
                            <h4 class="title text-primary">Rade Jovchevski- Korchagin
                                <br>Skopje
                            </h4>
                        </div>

                        <div class="card-body">
                            <div class="tab-content text-center">
                                <div class="tab-pane active" id="home" role="tabpanel">
                                    <h5 class="description">
                                        <br>
                                        2014-2018
                                    </h5>
                                    <h4>
                                        Graduate
                                    </h4>

                                </div>
                            </div>
                        </div>
                    </div>
             </div>
             <div class="col-lg-6 col-md-12" style="text-align: center;">
                <div class="card" style="max-width: 550px; max-height: 320px;">
                    <div class="card-header max-height:50px" style="max-height: 130px;">
                        <h4 class="title text-primary">Faculty of computer science and software engineering, Skopje
                        </h4>
                    </div>

                    <div class="card-body">
                        <div class="tab-content text-center">
                            <div class="tab-pane active" id="home" role="tabpanel">
                                <h5 class="description">
                                    <br>
                                    2018-2022
                                </h5>
                                <h4>
                                    Undergraaduate, 3rd year
                                </h4>

                            </div>
                        </div>
                    </div>
                </div>
         </div>
          </div>
      </div>

      <div class="section section-examples" data-background-color="">
        <div class="space-50"> </div>
        <div class="container text-center">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
                    <a [routerLink]="['/examples/landing']">
                        <img src="assets/img/chatapp.png" alt="Image" class="img-raised"  style="width: 450px; height: 280px;">
                    </a>
                    <a href="https://stefanschatapp.herokuapp.com/" class="btn  btn-primary btn-round margin-right:2%">View Project</a>
                    <a href="https://github.com/StefanVelkoski/Chat-Application" class="btn  btn-primary btn-round">View Github</a>
                    </div>
                    <div class=" col-xs-12  col-sm-12 col-md-6 col-lg-4 ">
                        <a [routerLink]="['/examples/profile']">
                        <img src="assets/img/otpecatok.png" alt="Image" class="img-raised"  style="width: 450px; height: 280px;" >
                    </a>
                    <a href="https://jaglero2.herokuapp.com/#/home" class="btn  btn-primary btn-round margin-right:2%">View Project</a>
                    <a href="https://github.com/StefanVelkoski/Otpecatok" class="btn  btn-primary btn-round">View Github</a>
                  </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 ">
                        <a [routerLink]="['/examples/landing']">
                        <img src="assets/img/oddalecise.png" alt="Image" class="img-raised"  style="width: 450px; height: 280px;">
                    </a>
                    <a href="https://oddalecise.herokuapp.com/home" class="btn btn-primary btn-round margin-right:2%">View Project</a>
                    <a href="https://github.com/StefanVelkoski/oddaleciseAPP" class="btn  btn-primary btn-round">View Github</a>

                </div>

            </div>
            <br>
            <br>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
                    <a [routerLink]="['/examples/landing']">
                        <img src="assets/img/landing.jpg" alt="Image" class="img-raised" style="width: 450px; height: 280px;">
                    </a>
                    <a href= "" class="btn  btn-primary btn-round margin-right:2%">View Project</a>
                    <a href="https://github.com/StefanVelkoski/najdiTutorMVC" class="btn  btn-primary btn-round">View Github</a>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
                        <a [routerLink]="['/examples/profile']">
                        <img src="assets/img/landing.jpg" alt="Image" class="img-raised"  style="width: 450px; height: 280px;">
                    </a>
                    <a href="['/examples/landing']" class="btn  btn-primary btn-round margin-right:2%">View Project</a>
                    <a href="['/examples/landing']" class="btn  btn-primary btn-round">View Github</a>
                         </div>
                    <div class=" col-xs-12 col-sm-12 col-md-6 col-lg-4">
                        <a [routerLink]="['/examples/landing']">
                        <img src="assets/img/landing.jpg" alt="Image" class="img-raised" style="width: 450px; height: 280px;">
                    </a>
                    <a href="http://whatstheweatherlike.herokuapp.com/" class="btn  btn-primary btn-round margin-right:2%">View Project</a>
                    <a href="https://github.com/StefanVelkoski/whatstheweather" class="btn btn- btn-primary btn-round">View Github</a>
                      </div>

            </div>

        </div>
    </div>

      <div class="section" data-background-color="lightblue">
          <div class="container text-center">
              <div class="row justify-content-md-center">
                  <div class="col-md-12 col-lg-8">
                      <h2 class="title">Completed with examples</h2>
                      <h5 class="description">The kit comes with three pre-built pages to help you get started faster. You can change the text and images and you're good to go. More importantly, looking at them will give you a picture of what you can built with this powerful Bootstrap 4 ui kit.</h5>
                  </div>
              </div>
          </div>
      </div>


      <div class="section section-download" id="#download-section" data-background-color="black">
          <div class="container">
              <div class="row justify-content-md-center">
                  <div class="text-center col-md-12 col-lg-8">
                      <a href="" target="_blank" class="btn btn-primary btn-lg btn-simple btn-round" role="button">
                         Download  Resume
                      </a>
                  </div>
              </div>
              <br>
              <br>
              <br>
              <h2 class="title" style="text-align: center;">Send me an email</h2>
            <!-- <p class="description"  style="text-align: center;">Your project is very important to us.??</p> -->
            <div class="row">
                <div class="col-lg-6 text-center col-md-8 ml-auto mr-auto">
                  <div class="input-group input-lg" [ngClass]="{'input-group-focus':focus===true}">
                    <div class="input-group-prepend" >
                      <span class="input-group-text">
                          <i class="now-ui-icons users_circle-08"></i>
                      </span>
                    </div>
                      <input type="text" class="form-control" placeholder="Left Font Awesome Icon" (focus)="focus=true" (blur)="focus=false">
                  </div>
                  <div class="input-group input-lg" [ngClass]="{'input-group-focus':focus1===true}">
                    <div class="input-group-prepend" >
                      <span class="input-group-text">
                            <i class="now-ui-icons ui-1_email-85"></i>
                      </span>
                    </div>
                      <input type="text" class="form-control" placeholder="Left Font Awesome Icon" (focus)="focus1=true" (blur)="focus1=false">
                  </div>
                    <div class="textarea-container">
                        <textarea class="form-control" name="name" rows="4" cols="80" placeholder="Type a message..."></textarea>
                    </div>
                    <div class="send-button">
                        <a href="#pablo" class="btn btn-primary btn-round btn-block btn-lg">Send Message</a>
                    </div>
                </div>
            </div>

              <div class="row justify-content-md-center sharing-area text-center">
                <div class="text-center col-md-12 col-lg-8">
                  <h3>Feel free to reach out!</h3>
                </div>
                <div class="text-center col-md-12 col-lg-8">
                  <a target="_blank" href="" class="btn btn-neutral btn-icon btn-twitter btn-round btn-lg" rel="tooltip" title="Follow us">
                    <i class="fab fa-google"></i>
                  </a>
                  <a target="_blank" href="https://www.facebook.com/profile.php?id=100002847891723" class="btn btn-neutral btn-icon btn-facebook btn-round btn-lg" rel="tooltip" title="Like us">
                    <i class="fab fa-facebook-square"></i>
                  </a>
                  <a target="_blank" href="https://www.linkedin.com/feed/" class="btn btn-neutral btn-icon btn-linkedin btn-lg btn-round" rel="tooltip" title="Follow us">
                    <i class="fab fa-linkedin"></i>
                  </a>
                  <a target="_blank" href="https://github.com/StefanVelkoski" class="btn btn-neutral btn-icon btn-github btn-round btn-lg" rel="tooltip" title="Star on Github">
                    <i class="fab fa-github"></i>
                  </a>
                </div>
              </div>
          </div>
      </div>
  </div>
  <footer class="footer" data-background-color="black">
      <div class="container">
          <nav>
              <ul>
                <li>
                    <a href="">
                        About me
                    </a>
                </li>
                  <li>
                      <a href="">
                          Education
                      </a>
                  </li>
                  <li>
                      <a href="">
                          Experience
                      </a>
                  </li>
                  <li>
                      <a href="">
                          Projects
                      </a>
                  </li>
                  <li>
                      <a href="">
                          Contact
                      </a>
                  </li>
              </ul>
          </nav>
          <div class="copyright">
              &copy;
            {{data | date: 'yyyy'}}, Stefan Velkoski
          </div>
      </div>
  </footer>
</div>
